.catalog__wrapper {
  padding: 30px;
  padding-bottom: 59px;
}

.catalog__item {
  margin-bottom: 30px;
}

.catalog__item-img {
  display: block;
  width: 260px;
  height: 195px;
}

.catalog__item-info {
  padding: 27px;
  border: 1px solid @catalog-border-color;
}

.catalog__item-title {
  margin: 0;
  margin-bottom: 4px;
  padding: 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
}

.catalog__item-desc {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-weight: normal;
  font-size: 13px;
  line-height: 30px;
  color: @secondary-font-color;
}

.catalog__item-option {
  padding-top: 20px;
  border-top: 1px solid @catalog-border-color;
}

.catalog__item-price {
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
}

.catalog__promo-title {
  margin: 0;
  padding: 25px;
  padding-bottom: 23px;
  padding-left: 90px;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  border: 1px solid @catalog-border-color;
}

.catalog__promo-info {
  padding: 34px;
  padding-top: 25px;
  border: 1px solid @catalog-border-color;
}

.catalog__promo-desc {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: @secondary-font-color;
}

.catalog__promo-content {
  display: block;
}

.catalog__promo-btn {
  width: 100%;
  line-height: 16px;
}
