.main-nav__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  border-top: 1px solid @header-border-color;
}

.main-nav__item-link {
  display: block;
  padding: 27px 30px;
  padding-left: 76px;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  font-family: @font-family;
  color: @main-font-color;
  text-decoration: none;
  text-align: left;
}

@media (max-width: @only-mobile) {
  .main-nav--closed {
    display: none;
  }

  .main-nav--opened {
    display: block;
  }

  .main-nav.main-nav--no-js {
    display: block;
  }
}

@media (min-width: @tablet-width) {
  .main-nav__list {
    flex-direction: row;
  }

  .main-nav__item {
    margin-right: 37px;
    border: none;

    &:last-child {
      margin-right: 0;
    }
  }

  .main-nav__item-link {
    padding: 0;
    font-size: 15px;

    &[href]:hover {
      opacity: 0.6;
    }

    &[href]:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo {
    margin-left: 75px;
  }

  .main-nav__item {
    margin: 0;
    border-right: 1px solid @header-border-color;

    &:first-child {
      margin-left: -36px;
    }

    &:last-child {
      margin-right: -36px;
      border: none;
    }
  }

  .main-nav__item-link {
    padding: 32px 36px;
    font-size: 17px;
  }
}
