.order-form {
  padding-top: 22px;
  padding-bottom: 55px;
}

.order-form__invite {
  margin: 0;
  margin-bottom: 25px;
  padding: 0 30px;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: @secondary-font-color;
}

.order-form__list {
  display: flex;
  flex-direction: column;
}

.order-form__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;

  &:nth-last-of-type(2) {
    margin-bottom: 0;
  }
}

.order-form__item-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}

.order-form__item-title {
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: @order-form-title-color;

  &::after {
    content: "";
    display: table;
    position: absolute;
    top: 50%;
    right: 0;
    width: 198px;
    height: 1px;
    background-color: @order-form-title-line;
  }

  &--shorter-line::after {
    width: 179px;
  }
}

.order-form__input-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;
  }
}

.order-form__input-wrapper-user {
  margin-top: 28px;
}

.order-form__input-wrapper-phone,
.order-form__input-wrapper-email {
  position: relative;
  margin-top: 7px;
}

.order-form__item-input-radio,
.order-form__item-input-checkbox {
  display: none;
}

.order-form__item-label {
  display: block;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;

  &--radio {
    position: relative;
    height: 40px;
    margin-bottom: 20px;
    padding-top: 9px;
    padding-left: 63px;

    &::before {
      content: "";
      display: table;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 40px;
      height: 40px;
      padding: 10px;
      box-sizing: border-box;
      border: 2px solid @radio-border-color;
      border-radius: 50%;
      background-clip: content-box;
    }
  }

  &--checkbox {
    position: relative;
    height: 40px;
    margin-bottom: 21px;
    padding-top: 11px;
    padding-left: 63px;

    &::before {
      content: "";
      display: table;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 40px;
      height: 39px;
      box-sizing: border-box;
      border: 2px solid @radio-border-color;
      background-position: 50% 50%;
      background-size: 22px 16px;
      background-repeat: no-repeat;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.order-form__item-input-radio:checked + .order-form__item-label--radio::before {
  background-color: @bg-radio-checked;
}

.order-form__item-input-checkbox:checked + .order-form__item-label--checkbox::before {
  background-image: url("../img/icon-tick.svg");
}

.order-form__input-user-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;

  &:last-child {
    margin-bottom: 0;
  }
}

.order-form__item-input {
  display: block;
  height: 52px;
  padding-top: 15px;
  padding-bottom: 18px;
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
  border: none;
  border-bottom: 2px solid @input-border-color;
  outline: 0;
  background: none;
}

.order-form__item-input-icon {
  display: block;
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  fill: @input-icon-color;
}

.order-form__item-textarea {
  display: block;
  width: 100%;
  height: 142px;
  padding: 14px;
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
  border: 2px solid @textarea-border-color;
  outline: none;
  resize: none;
  overflow: auto;
}

.order-form__option {
  margin-top: 16px;
}

.order-form__option-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}

.order-form__legend {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: @form-legend-color;
}

.order-form__btn {
  margin-top: 31px;
  padding: 16px 15px;
  line-height: 16px;
}

@media (min-width: @tablet-width) {
  .order-form {
    padding: 0;
    padding-top: 74px;
    padding-bottom: 50px;
  }

  .order-form__invite {
    padding: 0 50px;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 7px;
  }

  .order-form__item {
    margin: 0;

    &--bg-color {
      background-color: @bg-form-section;
    }

    &:last-of-type {
      margin-bottom: 3px;
    }
  }

  .order-form__item-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding: 50px 50px;
  }

  .order-form__item-color {
    padding-bottom: 26px;
  }

  .order-form__item-title {
    display: flex;
    align-items: center;
    width: 25%;
    height: 52px;

    &::after {
      display: none;
    }
  }

  .order-form__input-wrapper {
    width: 75%;
    margin-top: 0;
    margin-bottom: 24px;
  }

  .order-form__input-wrapper-color {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .order-form__item-label {
    font-size: 19px;

    &--radio {
      display: flex;
      align-items: center;
      height: 52px;
      padding-top: 0;
      padding-left: 80px;
      margin-bottom: 24px;

      &::before {
        width: 52px;
        height: 52px;
        padding: 13px;
      }
    }

    &--checkbox {
      display: flex;
      width: 239px;
      align-items: center;
      height: 52px;
      padding-top: 0;
      padding-left: 80px;
      margin-bottom: 24px;

      &::before {
        width: 53px;
        height: 52px;
        background-size: 33px 22px;
      }
    }

    &:hover::before,
    &:focus::before {
      border-color: @radio-border-hover;
    }

    &:active::before {
      border-color: @radio-border-active;
    }

    &--input {
      margin-right: 25px;
    }
  }

  .order-form__input-user-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }

  .order-form__item-input {
    flex-grow: 1;
    padding-left: 17px;
    padding-right: 17px;
    font-size: 19px;

    &::placeholder {
      color: @placeholder-font-color;
    }

    &:hover {
      border-color: @input-border-hover;
    }

    &:focus {
      border-color: @input-border-hover;
    }
  }

  .order-form__item-input:hover + .order-form__item-input-icon {
    fill: @input-icon-hover;
  }

  .order-form__item-input:focus + .order-form__item-input-icon {
    fill: @input-icon-hover;
  }

  .order-form__item-input-icon {
    right: 22px;
  }

  .order-form__item-textarea {
    font-size: 19px;

    &::placeholder {
      color: @placeholder-font-color;
    }

    &:hover {
      border-color: @textarea-border-hover;
    }

    &:focus {
      border-color: @textarea-border-hover;
    }
  }

  .order-form__option {
    margin-top: 3px;
  }

  .order-form__option-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
  }

  .order-form__btn {
    width: auto;
    min-width: 230px;
    margin: 0;
  }

  .order-form__legend {
    order: 1;
    margin-top: -3px;
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .order-form {
    padding-top: 124px;
    padding-bottom: 50px;
  }

  .order-form__invite {
    padding: 0 175px;
  }

  .order-form__item-wrapper {
    padding: 50px 60px;
    padding-right: 115px;
    justify-content: flex-start;
  }

  .order-form__item-color {
    padding-bottom: 26px;
  }

  .order-form__item-title {
    width: 115px;
  }

  .order-form__input-wrapper {
    width: 700px;
  }

  .order-form__input-wrapper-color {
    flex-grow: 1;
  }

  .order-form__item-label--checkbox {
    width: 234px;
  }

  .order-form__item-input-icon {
    right: 5px;
  }

  .order-form__option {
    margin-top: -2px;
  }

  .order-form__option-wrapper {
    padding: 0 175px;
  }
}
