.page-main {
  display: flex;
  flex-direction: column;
}

.page-main--bg {
  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: center -18px;
  background-size: 575px auto;
  background-repeat: no-repeat;
  background-color: #f9f9f9;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
  }
}

.page-main__promo,
.page-main__advantages,
.page-main__reviews,
.page-main__contacts,
.page-main__catalog,
.page-main__order-form {
  background-color: @bg-main-sections;
}

.page-main__header {
  display: flex;
  align-items: center;
  padding: 30px 0;

  &--index {
    min-height: 282px;
  }

  &--inner {
    min-height: 176px;
  }
}

.page-main__header-wrapper {
  padding: 0 30px;

  &--index {
    margin-bottom: 53px;
  }

  &--inner {
    margin-bottom: 7px;
  }
}

.page-main__header-title {
  margin: 0;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
}

.page-main__product-nav-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-main__product-nav-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 103px;
  padding: 20px 30px;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: @product-nav-font-color;
  text-decoration: none;

  &--bg--interior {
    background-color: @bg-product-nav-interior;
  }

  &--bg--toy {
    background-color: @bg-product-nav-toy;
  }
}

.page-main__product-nav-icon {
  fill: #13907f;
  opacity: 0.5;

  &--interior {
    margin-right: 10px;
  }
}

@media (min-width: @tablet-width) {
  .page-main--bg {
    background-image: url("../img/hero-desktop@1x.jpg");
    background-position: center -1px;
    background-size: 1150px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../../img/hero-desktop@2x.jpg");
    }
  }

  .page-main__header--index {
    min-height: 621px;
    padding: 75px 0;
  }

  .page-main__header--inner {
    min-height: 223px;
    padding-top: 55px;
  }

  .page-main__header-wrapper {
    padding: 0 50px;

    &--index {
      margin-bottom: 220px;
    }

    &--inner {
      margin-bottom: 9px;
    }
  }

  .page-main__header-title {
    font-size: 43px;
    line-height: 50px;
  }

  .page-main__promo,
  .page-main__catalog,
  .page-main__order-form {
    position: relative;

    &::before {
      content: "";
      display: table;
      position: absolute;
      top: -10px;
      left: 0;
      width: 100%;
      height: 24px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-position: 50% 0;
      background-size: auto 100%;
    }
  }

  .page-main__product-nav-list {
    flex-direction: row;
    align-items: flex-end;
    min-height: 124px;
    padding: 0 50px;
  }

  .page-main__product-nav-item {
    width: 50%;
  }

  .page-main__product-nav-link {
    min-height: 119px;
    padding: 27px 35px;
    font-size: 20px;
    line-height: 30px;

    &:hover {
      min-height: 124px;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  .page-main__product-nav-link:active .page-main__product-nav-icon {
    opacity: 0.3;
  }

  .page-main__product-nav-icon--interior {
    margin-right: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-main__header-wrapper {
    padding: 0;

    &--index {
      margin-bottom: 206px;
    }

    &--inner {
      margin-bottom: 31px;
    }
  }

  .page-main__header--inner {
    min-height: 251px;
  }

  .page-main__header-title {
    font-size: 53px;
    line-height: 57px;
  }

  .page-main__product-nav-list {
    padding: 0;
  }

  .page-main__product-nav-link {
    padding: 27px 37px;
  }

  .page-main__promo::before,
  .page-main__catalog::before,
  .page-main__order-form::before {
    top: -17px;
    height: 34px;
  }
}
