.promo__wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  padding-top: 28px;
  padding-bottom: 38px;
}

.promo__header {
  margin-bottom: 22px;
}

.promo__title {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
}

.promo__subtitle {
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 20px;
  color: @promo-subtitle;
  text-transform: uppercase;
}

.promo__specification {
  margin-bottom: 27px;
}

.promo__desc {
  margin: 0;
  margin-bottom: 17px;
  padding: 0;
  font-size: 15px;
  line-height: 24px;
  color: @secondary-font-color;
}

.promo__features {
  width: 100%;
  font-size: 15px;
  line-height: 20px;
  color: @secondary-font-color;
  border-collapse: collapse;
}

.promo__features-field {
  width: 98px;
}

.promo__features-field,
.promo__features-value {
  padding: 10px 0;
  border-bottom: 1px solid @table-border-color;
}

.promo__img {
  display: block;
  width: 260px;
  height: 315px;
  margin-bottom: 23px;
}

.promo__order {
  display: flex;
  flex-direction: column;
}

.promo__price {
  display: block;
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: @promo-price-color;
}

@media (min-width: @tablet-width) {
  .promo__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 45px 50px;
    padding-bottom: 53px;
  }

  .promo__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 49px;
  }

  .promo__title {
    margin: 0;
    margin-left: -2px;
    font-size: 43px;
    line-height: 50px;
  }

  .promo__subtitle {
    width: 70px;
    margin: 0;
    margin-top: 12px;
    margin-right: 27px;
    line-height: 17px;
    text-align: center;
  }

  .promo__specification {
    align-self: flex-start;
    width: 292px;
    margin-bottom: 0;
  }

  .promo__desc {
    margin-bottom: 34px;
    font-size: 17px;
    line-height: 30px;
  }

  .promo__img {
    width: 333px;
    height: 404px;
    margin: 0;
    margin-top: 8px;
  }

  .promo__order {
    width: 292px;
    margin-top: -110px;
  }

  .promo__price {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 34px;
  }
}

@media (min-width: @desktop-width) {
  .promo__wrapper {
    padding: 123px 0;
    padding-left: 175px;
    padding-bottom: 73px;
  }

  .promo__header {
    z-index: 1;
    justify-content: flex-start;
    align-items: center;
  }

  .promo__title {
    order: 1;
    margin-left: 56px;
    font-size: 53px;
    line-height: 57px;
  }

  .promo__subtitle {
    margin-top: 9px;
    margin-right: 0;
    margin-left: -128px;
  }

  .promo__desc {
    margin-bottom: 47px;
  }

  .promo__img {
    width: 525px;
    height: 636px;
    margin: 0;
    margin-top: -158px;
  }
}
