.reviews__wrapper {
  padding: 30px;
  padding-top: 25px;
}

.reviews__title {
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
}

.reviews__list {
  margin-bottom: 28px;
}

.reviews__item {
  margin: 0;
  padding: 0;
}

.reviews__item-text {
  margin: 0;
  margin-bottom: 27px;
  padding: 0;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
}

.reviews__item-autor {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  font-style: normal;
}

.reviews__item-contact {
  margin-top: 4px;
  font-weight: normal;
  font-size: 17px;
  line-height: 30px;
  font-style: normal;
  color: @secondary-font-color;
}

.reviews__controls {
  margin-bottom: 37px;
}
