.slider__controls {
  font-size: 0;
}

.slider__control {
  width: 130px;
  height: 52px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border: 1px solid @slider-border-color;

  &--left {
    background-image: url("../img/icon-left-arrow.svg");
  }

  &--right {
    background-image: url("../img/icon-right-arrow.svg");
  }
}
