//Style colors
@white: #ffffff;
@blue-green: #149080;
@greeny-blue: #56c3b2;
@seafoam-blue: #63d1bb;
@light-gray: #ececec;

//Font colors
@black: #000000;
@dark-gray: #444444;
@very-dark-brown: #010000;
@dark: #283645;

//Font
@font-family: "OpenSans", "Arial", sans-serif;

